.container {
	height: auto;
	width: 1440px;
	position:relative;
}

.header {
	height: 50px;
	width: 1440px;

}

.mail, .images, .app, .notification{
	height:20px; 
	width:20px;
	top: 10px;
	position: absolute;
	font-size: 12px;
	color: black;
}

.mail{
	right: 230px;
}

.images{
	right: 180px;	
}

a {
	text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: black;
}

.app{

	right: 120px;
	top: 11px;
}
.notification{
	right:80px;
	top: 9px;
}

.space {
	top:50px;
	
}

.logo {
	height:216px; 
	width:384px;
	top:100px;
	left: 530px;
	position:absolute;

}

.searchbox{
	top:320px;
	position: absolute;
	box-shadow: 1px 2px 7px #c1c1c1; 
	border: none;
	padding: 0 20px 0 20px;
}


input[type=text]{
	left: 400px;
	width:600px;
	height:45px;
	font-size: 16px;


}

.searchbox-img{
	left: 970px;
	height:33px; 
	width: 28px;
	top:325px;
	position: absolute;
	border: none;
	padding: 0 20px 0 20px;
}

textarea:focus, input:focus{
    outline: none;
}


.search, .random {
	top:390px;
	position: absolute;
	background-color: #f5f5f5; /* light gray */
    border: none;
    border-radius: 2px;
    color: #808080; /*dark gray*/
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
}

.search{
	left: 585px;

}

.random{
	left:715px;

}

.search:hover {
    border: 1px solid #a6a6a6; 
    box-shadow: 1px 1px 2px #d9d9d9;

}

.random:hover {
    border: 1px solid #a6a6a6; 
    box-shadow: 1px 1px 2px #d9d9d9;
}

.footer {
	height: 45px;
	width: 1440px;
	bottom: 0px;
	right: 1px;
	border: 1px solid #dbdbdb;
	background-color: #f5f5f5;
	font-size: 12px;
	position: fixed;

}

.left_link, .right_link {
	top: 12px;
	color: #8c8c8c;
	position: absolute;
	padding: 0px 10px 10px 10px;
	word-spacing: 15px;
}

.left_link {
	left:50px;
}

.right_link {
	right:100px;
}

.right_link a:nth-child(4){
	word-spacing: 0px;
}
/*.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}*/