.container {
	height: 539px;
	width: 1440px;
	position:relative;
}

.header {
	height: 50px;
	width: 1440px;

}

.mail, .images, .app, .notification{
	height:20px; 
	width:20px;
	top: 10px;
	position: absolute;
	font-size: 12px;
	color: black;
}

.mail{
	right: 230px;
}

.images{
	right: 180px;	
}

a {
	text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: black;
}

.app{

	right: 120px;
	top: 11px;
}
.notification{
	right:80px;
	top: 9px;
}

.space {
	top:50px;
	
}

.logo {
	height:216px; 
	width:384px;
	top:100px;
	left: 530px;
	position:absolute;

}

.searchbox {
	top:320px;
	position: absolute;
	box-shadow: 1px 2px 7px #c1c1c1; 
	border: none;
	padding: 0 20px 0 20px;
}

input[type=text]{
	left: 400px;
	width:600px;
	height:45px;
	font-size: 16px;


}

textarea:focus, input:focus{
    outline: none;
}

.search, .random {
	top:390px;
	position: absolute;
	background-color: #f5f5f5; /* light gray */
    border: none;
    color: #808080; /*dark gray*/
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
}

.search{
	left: 585px;

}

.random{
	left:715px;

}